html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #9BBDE0;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

#bass {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  -moz-transition: width 0.1s ease-in;
  -webkit-transition: width 0.1s ease-in;
  transition: width 0.1s ease-in;

  img {
    width: 100%;
    height: auto;
    -moz-transition: -moz-transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;

    &:hover {
      -moz-transform: scale(1.01, 1.01);
      -webkit-transform: scale(1.01, 1.01);
      transform: scale(1.01, 1.01);
    }

    &:active {
      -moz-transform: scale(0.99, 0.99);
      -webkit-transform: scale(0.99, 0.99);
      transform: scale(0.99, 0.99);
    }
  }
}

$dur: 2.162s;
.spin img {
  -moz-animation: spin $dur infinite;
  -webkit-animation: spin $dur infinite;
  animation: spin $dur infinite;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}